.navbarContainer{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.formContainer{
     display: flex;
  justify-content: center; /* Centers the form horizontally */
  align-items: center; /* Centers the form vertically */
  height: 100vh; /* Ensures the container takes up the full viewport height */
  background-color: #f0f0f3; /* Optional: background color */
}

.contact-section {
  width: 100%;
  height: 100%;
  text-align: center;
  
}

.contact-container {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.contact-left {
  width: 33.3333%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
}

.contact-left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.contact-left-text h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-align: start;
}

.contact-left-description {
  margin-top: 0.5rem;
  
  font-family: 'Montserrat', sans-serif;
   text-align: start;
}

.contact-right {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-buttons {
  display: flex;
  gap: 50px;
  margin-left: 30px;
}

.card{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 8px #bebebe, -4px -4px 8px #ffffff;
    padding: 50px;
    border-radius: 16px;
   width:130px
}
.card:hover{
    box-shadow: inset 4px 4px 8px #d1d1d4, inset -4px -4px 8px #ffffff;
    color: #C07708;
}
.card p{
    font-weight: bold;
}